HELP.md
.gradle
gradle/
build/
!build/generated/
!gradle/wrapper/gradle-wrapper.jar
*.log
.dbeaver/
.DS_Store

# setting
*.yml
ExternalApiServiceTest.java

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/log.config.path_IS_UNDEFINED/
/logs/

.temp*